################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/PerchedPeacockWebApplicationSln/.vs/PerchedPeacockWebApplicationSln/v16/Server/sqlite3
/source/PerchedPeacockWebApplicationSln/PerchedPeacockWebApplication/.gitignore
/source/PerchedPeacockWebApplicationSln/.vs/PerchedPeacockWebApplicationSln
/source/PerchedPeacockWebApplicationSln/PerchedPeacockUnitTest/bin/Debug/netcoreapp3.0
/source/PerchedPeacockWebApplicationSln/PerchedPeacockUnitTest/obj
/source/PerchedPeacockWebApplicationSln/PerchedPeacockUnitTest/bin/x64/Debug/netcoreapp3.0
/source/PerchedPeacockWebApplicationSln/PerchedPeacockUnitTest/coverage.json
