################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/PerchedPeacockWebApplicationSln/.vs/PerchedPeacockWebApplicationSln/v16/Server/sqlite3
