<h1 id="tableLabel">Book A Parking Lot</h1>
<br/>
<div id="adminGrid" class="ag-theme-balham-dark" style="width: 1200px; height: 500px;">
  <ag-grid-angular style="width: 100%; height: 100%;"
                   [gridOptions]="bookingGridOptions"
                   class="ag-theme-balham"
                   [rowData]="rowData | async"
                   [columnDefs]="columnDefs"
                   (firstDataRendered)="onFirstDataRendered($event)"
                   (cellClicked)="onBookingCellClicked($event)">
  </ag-grid-angular>
</div>
